microservicecloud/.idea
microservicecloud/microservicecloud-api/target
microservicecloud/microservicecloud-consumer-dept/target
microservicecloud/microservicecloud-provider-dept/target
microservicecloud/microservicecloud-eureka-7001/target
microservicecloud/microservicecloud-eureka-7002/target
microservicecloud/microservicecloud-eureka-7003/target
microservicecloud/microservicecloud-provider-dept-8001/target
microservicecloud/microservicecloud-provider-dept-8002/target
microservicecloud/microservicecloud-provider-dept-8003/target
microservicecloud/microservicecloud-consumer-dept-feign/target
microservicecloud/microservicecloud-provider-dept-8003/target/
microservicecloud/microservicecloud-provider-dept-8003/target/classes/

*.class

# Package Files #
*.jar
*.war
*.ear

# ignore Maven generated target folders
target

# ignore eclipse files
.project
.classpath
.settings
.metadata
microservicecloud/microservicecloud-provider-dept-hystrix-8001/target/classes/com/jiang/springcloud/controller/DeptController.class
